[Unit]
Description=Container Restart Bot
After=network.target

[Service]
Type=simple
User=REPLACE_WITH_USERNAME
WorkingDirectory=/usr/local/bin/container_restart
ExecStart=/usr/local/bin/container_restart/.venv/bin/python3 /usr/local/bin/container_restart/container_restart.py
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target

